project/dist/html/patials/footer.html
<div class="footer"><div class="footer__inner container"><div class="footer__logo"><img src="../../../dist/assets/images/logo.png" alt=""/></div><div class="footer__content"><p>Contact us</p><p>Phone: 2.2.2.0.0.0</p><p>Address: 02/21 DARND</p><div class="user user__inner"><div class="user__block"><a href="#"><i class="fab fa-facebook"></i></a></div><div class="user__block"><a href="#"><i class="fas fa-envelope"></i></a></div><div class="user__block"><a href="#"><i class="fab fa-twitter-square"></i></a></div></div></div></div></div>

project/src/view/patials/footer.pug
.footer
    .footer__inner.container
        .footer__logo
            img(src="../../../dist/assets/images/logo.png", alt="")
        .footer__content
            p Contact us
            p Phone: 2.2.2.0.0.0
            p Address: 02/21 DARND
            .user.user__inner
                .user__block
                    a(href="#") <i class="fab fa-facebook"></i>
                .user__block
                    a(href="#") <i class="fas fa-envelope"></i>
                .user__block
                    a(href="#") <i class="fab fa-twitter-square"></i>
